<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 


    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora perferendis voluptate impedit mollitia fugiat distinctio, nesciunt, voluptas placeat consectetur harum inventore animi fuga nostrum corrupti, sint adipisci officia iste. Natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora perferendis voluptate impedit mollitia fugiat distinctio, nesciunt, voluptas placeat consectetur harum inventore animi fuga nostrum corrupti, sint adipisci officia iste. Natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora perferendis voluptate impedit mollitia fugiat distinctio, nesciunt, voluptas placeat consectetur harum inventore animi fuga nostrum corrupti, sint adipisci officia iste. Natus?</p>
    </div>

    <%- include('./partials/footer.ejs') %> 

</body>
</html>